body {
	background: url('../img/vs/league10.jpg');
	color: white;
}

.cuerpo{
	background: url('../img/vs/league10.jpg');
	color: white;
}

.container .column{
	width: 33.3%;
}

.column.first .name, .column.first .champName, .column.third .name, .column.third .champName{
	font-size: 150%;
	min-height:40px;
	padding: 10px 20px;
}

.column.second{
	min-width: 33.3%;
	min-height: 500px;
	position: relative;
}

.column.second div{
	margin: 0 auto;
}

.column.second .mod.logo{
	background: url('../img/vs/vs.png');
	width: 200px;
	min-height: 165px;
}

.column.second .lol.logo{
	background: url('/img/vs/challenger.png');
	width: 370px;
	height: 140px;
	position: absolute;
	bottom: 0;
	left: 7%;
}

.column .champ.darius{
	background: url('../img/champion/loading/Katarina_5.jpg')top right;
	min-height: 324px;
	width: 300px;
}

.items{
	margin: 0 auto;
	text-align: center;
}

.items .item{
	height: 50px;
	width: 50px;
	display: inline-block;
	background: url('../img/item/1001.png');
}
