<!DOCTYPE html>
<html>
<head>
	<title>Vs</title>
	<link rel="stylesheet" type="text/css" href="/views/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/views/css/common.css">
	<link rel="stylesheet" type="text/css" href="/views/css/vs.css">
</head>
<body>
	<div class="container">
		<div class="column left first">
			<div class="user left name">test</div>
			<div class="user left champ darius"></div>
			<div class="user left champName">Darius</div>
		</div>
		<div class="column left second ">
			<div class="mod logo"></div>
			<div class="lol logo"></div>
		</div>
		<div class="column right third">
			<div class="rival right name">Tester</div>
			<div class="rival right champ darius"></div>
			<div class="rival right champ name">tejon</div>
		</div>
		<div class="items clear">
			<span class="item 3065.png"></span>
			<span class="item 3065.png"></span>
			<span class="item 3065.png"></span>
			<span class="item 3065.png"></span>
			<span class="item 3065.png"></span>
			<span class="item 3065.png"></span>
		</div>
		<div class="clear"></div>
	</div>
</body>
</html>